

body {
    background: #f8f8f8;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #000000;
}

.page-container {
    margin: 120px auto 0 auto;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
	color:#000000;
}

form {
    position: relative;
	width:350px;
    margin: 15px auto 0 auto;
    text-align: center;
	border: 1px solid #000000;
}

table{
	
	
}

table td{
	border: 1px solid #000000;
	
}