<!DOCTYPE html>
<html>
<head>
	<title>todoList</title>
	<meta charset="utf-8">
	<style type="text/css">
		li{
			cursor: pointer;
		}
		.tip{
			display: inline-block;
		    width: auto;
		    height: auto;
		    margin: 0;   
		    padding: 0;
		    /*padding: 8px 15px;*/
		    background-color: rgb(3, 16, 27);
		    opacity: 0.75;
		    border-radius: 2px;
		    font-size: 14px;
		    text-align: left;
		    color: #fff;
		}
	</style>
</head>
<body>
<div id="app">
	<input type="" name=""  placeholder="edit me" 
		v-model="inputMsg"
		@keyup.enter="handleSubmit"
		>
	<button @click="handleSubmit">添加</button>
	<p class="tip" v-show="tipShow">双击可删除</p>
	<ul @mouseover="handleMouseover" @mouseleave="handleMouseleave">
			<todo-item v-for="(item, index) in list"
			:key="index"
			:text="item"
			:index="index"
			@delete="handleDelete"
			></todo-item>
	</ul>
</div>

<script type="text/javascript" src="./vue.v2.js"></script>
<script type="text/javascript">
	Vue.component('todo-item', {
		name: 'todo-item',
		template: '<li @dblclick="handleDelete(index)">{{ text }}</li>',
		props: ['text', 'index'],
		methods: {
			handleDelete(index) {
				this.$emit('delete', index);
			},
		},
	});

	new Vue({
		el: "#app",
		component: ['todo-item'],
		data() {
			return {
				inputMsg: '',
				list: [],
				tipShow: false,
			};
		},
		methods: {
			handleSubmit() {
				if( this.inputMsg.length > 0 && this.list.indexOf(this.inputMsg) < 0 ) {
					this.list.unshift(this.inputMsg);
					this.inputMsg = '';
				}
			},
			handleDelete(index) {
				if (index < this.list.length) {
					this.list.splice(index, 1);
				}
			},
			handleMouseover() {
				this.tipShow = true;
			},
			handleMouseleave() {
				this.tipShow = false;
			},
		},
	});
</script>
</body>
</html>